# Django settings
DJANGO_SECRET_KEY=
DJANGO_DEBUG=

# allauth - LINE
LINE_CLIENT_ID=
LINE_CLIENT_SECRET=

# allauth - Google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Google Maps
GOOGLE_MAPS_API_KEY=
GOOGLE_MAPS_ID=

# Postmark
POSTMARK_SERVER_TOKEN=
DEFAULT_FROM_EMAIL=
SERVER_EMAIL=
POSTMARK_DEBUG=