# Environment Variables
.env

# IDE
.vscode/

# Python
**/__pycache__/

# Django
*.sqlite3
static/scripts/output.js
static/styles/output.css

# Frontend
node_modules/

# Data
data/input/*
data/output/*
data/temp/*
!data/input/.keep
!data/temp/.keep

# Celery
celerybeat-schedule