# Environment Variables
.env

# IDE
.vscode/

# Python
**/__pycache__/

# Django
*.sqlite3
static/scripts/output.js
static/styles/output.css

# Frontend
node_modules/

# Data
data/input/*
data/output/*
data/temp/*
data/backup/*
!data/input/.keep
!data/output/.keep
!data/temp/.keep
!data/backup/.keep

# Celery
celerybeat-schedule

# Webpack
output.js.LICENSE.txt

# Logs
logs/*
!logs/.keep