{% extends "shared/base.html" %} 

{% block title %}Parkings Index{% endblock title %} 
{% block content %}

<div class="w-[600px] mx-auto overflow-hidden rounded-lg border border-gray-200">
  <table class="w-full">
    <thead>
      <tr class="border-b border-gray-200 bg-gray-50">
        <th class="px-6 py-3 text-left text-sm font-medium text-gray-500">
          ID / Parking Name
        </th>
        <th class="px-6 py-3 text-left text-sm font-medium text-gray-500">
          Status
        </th>
        <th class="px-6 py-3 text-left text-sm font-medium text-gray-500">
          Remaining Spots
        </th>
      </tr>
    </thead>
    <tbody class="divide-y divide-gray-200">
			{% for data in parking_data %}
      <tr class="hover:bg-gray-50 transition-colors duration-200">
        <td class="px-6 py-4 text-sm">{{ data.name }} / {{ data.id }}</td>
        <td class="px-6 py-4">
					{% if data.status == "Available" %}
          <span
            class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-green-100 text-green-800"
          >
            Available
          </span>
					{% elif data.status == "None" %}
          <span
            class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-red-100 text-red-800"
          >
            No spot
          </span>
					{% else %}
          <span
            class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-yellow-100 text-yellow-800"
          >
            Out of order
          </span>
					{% endif %}
        </td>
        <td class="px-6 py-4 text-sm">{{ data.remain }}</td>
      </tr>
			{% endfor %}
    </tbody>
  </table>
</div>

{% endblock content %}
