<div class="w-full bg-gradient-to-r from-neutral-50 to-neutral-100 rounded-lg backdrop-blur-md">
  <nav class="flex justify-between items-center py-4 px-6">
    <div class="flex items-center">
      <h1 class="font-title text-blue-950 text-xl ml-4">Django-template</h1>
    </div>
    <ul class="flex-1 flex justify-center gap-8 text-neutral-950 font-medium">
      <li
        class="hover:scale-110 transition-transform duration-300 cursor-pointer"
      >
        <a href="{% url "home" %}">Home</a>
      </li>
      <li
        class="hover:scale-110 transition-transform duration-300 cursor-pointer"
      >
        About
      </li>
      <li
        class="hover:scale-110 transition-transform duration-300 cursor-pointer"
      >
        <a href="{% url "parkings:index" %}">Services</a>
      </li>
      <li
        class="hover:scale-110 transition-transform duration-300 cursor-pointer"
      >
        Contact
      </li>
    </ul>

		<!-- Login / Logout button with user avatar -->
		{% if user.is_authenticated %}
		<div class="flex items-center gap-4">
			<div class="rounded-full w-10 h-10 bg-gray-300 overflow-hidden">
				<a href="{% url "accounts:profile" %}">
					<img
							src="https://tools-api.webcrumbs.org/image-placeholder/40/40/avatar/2"
							alt="User Avatar"
							class="object-contain w-full h-full"
					/>
				</a>
			</div>
			<form action="{% url "accounts:logout" %}" method="post">
				{% csrf_token %}
				<button type="submit" class="login-button">
					Logout
				</button>
			</form>
		</div>
		{% else %}
    <a
			href="{% url "accounts:login" %}"
      class="login-button"
    >
      Login
    </a>
		{% endif %}
  </nav>
</div>
